@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero_pic {
  height: 100%;
  width: 100%;
}

.welcome_title {
  font-size: 50px;
  font-weight: 200;
}

.hero_name {
  color: coral;
  font-weight: 500;
}

.title_text,
.title_pic {
  width: 50%;
}

.hero_element {
  display: flex;
  background: url("/img/top-banner.png") no-repeat;
}

.title_text {
  margin: 4em 0em 4em 5em;
  text-align: justify;
  margin-bottom: 50px;
}
.title_text p {
  padding-top: 10px;
}
.title_pic {
  margin-left: 5em;
}

.hire_me {
  font-weight: 700;
  font-size: 1.15em;
  background-image: linear-gradient(
    to right,
    rgb(255, 151, 115),
    rgb(255, 109, 80)
  );
  border: none;
  margin-top: 10px;
  padding: 15px 40px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}
